*{
    margin: 0;
    text-align: center;
}
header{
    background-color: #48e;
    padding: 30px;
    color: white;
    font-size: 30px;
}
h2{
    font-size: 30px;
    margin: 20px;
}
.Game{
    margin: 10px;
    font-size: 60px;
}
p{
    font-size: 20px;
    width: 60%;
    margin: auto;
}
button{
    font-size: 100px;
    border-radius: 100%;
    border-color: #48e;
    background-color: #48e6;
}
.game-container{
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    justify-content: space-evenly;
    
}